= form_for @admin, url: admin_admin_update_password_path(@admin.id), html: {class: 'center reset-password-form'} do |f|
  .container.user_details
    %h3= 'Change Password'
    .card
      .card-body
        .row
          .col-md-12
            .form-group
              %label.pull-left.col-md-4
                Current Password
              = f.password_field :current_password, class: 'form-control col-md-4'
              .field-error.server-validation
                = show_error(f.object, :password)
            .form-group
              %label.pull-left.col-md-4
                New Password
              = f.password_field :password, class: 'form-control col-md-4'
              .field-error.server-validation
                = show_error(f.object, :new_password)
            .form-group
              %label.pull-left.col-md-4
                Password Confirmation
              = f.password_field :password_confirmation, class: 'form-control col-md-4'
            %center
              .form-group
                .actions
                  = f.submit 'Save', class: 'btn btn-primary'
