%title= meta_title

%meta{name: 'description', content: "#{meta_description}"}

/ Facebook Open Graph data
%meta{property: 'og:title', content: "#{meta_title}"}
%meta{property: 'og:type', content: 'website'}
%meta{property: 'og:url', content: "#{request.original_url}"}
%meta{property: 'og:image', content: "#{meta_image}"}
%meta{property: 'og:description', content: "#{meta_description}"}
%meta{property: 'og:site_name', content: "#{meta_title}"}

/ Twitter Card data
%meta{property: 'twitter:card', content: 'summary_large_image'}
%meta{property: 'twitter:title', content: "#{meta_title}"}
%meta{property: 'twitter:description', content: "#{meta_description}"}
%meta{property: 'twitter:image:src', content: "#{meta_image}"}
